.features {
    background-color: #F7F7F7;
    text-align: center;
    padding: 1rem .8rem;

    @media only screen and (min-width: 1000px) {
        padding: 1rem 3rem;
    }

    &__card {
        background-color: #FFFFFF;
        border: 1px solid #E8E9ED;
        border-radius: .3rem;
        text-align: start;
        margin: 1rem 1rem;
        margin-bottom: 2rem;
        padding: 1rem;
        max-height: 370px;
        padding-top: 1.5rem;

        @media only screen and (min-width: 1000px) {
            position: relative;
            display: flex;
            flex-direction: row;
            align-items: center;
            margin: 2rem auto;
            width: 90%;
            max-width: 1100px;
        }

        &__images {
            max-width: 258px;
            min-width: 258px;
            margin: 0 auto;
            position: relative;

            @media only screen and (min-width: 1000px) {
                max-width: 50%;
                padding: 2rem;
            }

            &__macbook {
                margin: 0 auto;
                z-index: 1;
                position: absolute;
                left: 50%;
                max-width: 100%;
                transform: translateX(-50%);

                @media only screen and (min-width: 1000px) {
                    content: url(../resources/Macbook\ Desktop.png);
                    position: absolute;
                    left: 6%;
                    transform: scale(.8);
                }
            }

            &__red-circle {
                margin: 0 auto 1rem;
                z-index: 0;
                margin-left: 130px;
                margin-top: -30px;

                @media only screen and (min-width: 1000px) {
                    content: url(../resources/Red\ Rectangle\ Desktop.png);
                }
            }

            &__iphone {
                margin: 0 auto;
                z-index: 1;
                position: absolute;
                left: 50%;
                max-width: 100%;
                transform: translateX(-50%);

                @media only screen and (min-width: 1000px) {
                    content: url(../resources/iPhone2\ 1.png);
                    transform: scale(.9);
                    position: absolute;
                    left: 15%;
                }
            }

            &__blue-circle {
                margin: 0 auto 1rem 3rem;

                @media only screen and (min-width: 1000px) {
                    content: url(../resources/Big\ Blue\ Circle.png);
                    transform: scale(.9);
                }
            }
        }

        &__images-exc {
            position: relative;

            @media only screen and (min-width: 1000px) {
                display: none;
            }

            &__green-rectangle {

                @media only screen and (min-width: 1000px) {
                    content: url(../resources/Green\ Rectangle\ Desktop.png);
                }
            }

            &__trumpet {
                position: absolute;
                z-index: 1;
                top: 70%;
                left: 44%;
                transform: translate(-50%, -50%);

                @media only screen and (min-width: 1000px) {
                    content: url(../resources/Trumpet\ 1.png);
                    transform: scale(.9);
                }
            }

            @media only screen and (min-width: 1000px) {
                margin-left: 1rem;
            }
        }

        &__images-exc-desktop {
            position: relative;

            @media only screen and (min-width: 1000px) {
                width: 60%;
                background-color: #55DFB4;
                height: 20rem;
                border-radius: 4px;
                border: 1px solid #E8E9ED;
            }

            &__trumpet {
                display: none;
                position: relative;
                width: 85%;
                height: auto;
                transform: translate(0%, 12%);

                @media only screen and (min-width: 800px) {
                    display: block;
                    transform: translate(16%, 5em);
                    width: 70%;
                }
            }
        }

        &__text {

            @media only screen and (min-width: 1000px) {
                flex: 1;
                max-width: 50%;
                padding-left: 2rem;
            }

            &__title {
                color: black;
                font-family: 'Raleway';
                font-size: 1.8rem;
                font-weight: 400;
                line-height: 2rem;
                margin-bottom: 2rem;
                margin-top: 1rem;

                @media only screen and (min-width: 1000px) {
                    font-size: 2.25rem;
                    line-height: 2.8rem;
                }
            }

            &__description {
                color: black;
                font-family: 'Open Sans';
                font-size: 0.875rem;
                line-height: 1.1875rem;
                font-weight: 400;
                margin-bottom: 1rem;

                @media only screen and (min-width: 1000px) {
                    font-size: 1rem;
                    line-height: 1.3rem;
                    padding-bottom: 2rem;
                }
            }

            &__border-bottom {
                display: none;

                @media only screen and (min-width: 1000px) {
                    display: block;
                    width: 80%;
                    margin-bottom: 2rem;

                    &--red {
                        border: 3px solid #FB3B64;
                    }

                    &--blue {
                        border: 3px solid #08A6E4;
                    }

                    &--green {
                        border: 3px solid #55DFB4;
                    }
                }
            }
        }
    }

    &__desktop-row {
        @media only screen and (min-width: 1000px) {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 2rem;
            max-width: 1100px;
            margin: 2rem auto;
            width: 90%;
        }
    }

    #red-card,
    #blue-card {
        @media only screen and (min-width: 1000px) {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    #green-card {
        padding: 0;

        @media only screen and (min-width: 1000px) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
        }
    }

    #green-feature {
        max-width: 90%;
        padding: 1rem;

        @media only screen and (min-width: 1000px) {
            padding-left: 3rem;
            max-width: 75%;
        }
    }
}

.excp-row {
    @media only screen and (min-width: 1000px) {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
}

br {
    display: none;

    @media only screen and (min-width: 1000px) {
        display: block;
    }
}