.info {
    padding: .5rem 1rem;
    text-align: center;

    &__title {
        font-family: 'Raleway';
        font-weight: 300;
        font-size: 2.2rem;
        line-height: 2rem;
        margin-bottom: 2rem;
    }

    &__images {
        margin-bottom: 1rem;
    }

    &__item {
        margin-bottom: 2rem;
    }

    &__number {
        font-family: 'Raleway';
        font-weight: 800;
        font-size: 1.25rem;
        line-height: 1.5rem;
        letter-spacing: 0.375rem;
        text-align: center;
        margin-bottom: 1rem;
    }

    &__description {
        font-family: 'Raleway';
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.5rem;
        text-align: center;
        color: #A5A5A5;
    }
}

.images__circle {
    position: absolute;
    left: 38%;
}

.images__person,
.images__eye,
.images__catalog {
    position: relative;
    left: 3%;
}

.images__eye {
    margin-top: .75rem;
}

.images__catalog {
    margin-top: .5rem;
}