.info {

    text-align: center;
    position: relative;

    &__title {
        font-family: 'Raleway';
        font-weight: 300;
        font-size: 2.2rem;
        line-height: 2rem;
        margin-bottom: 2rem;
    }

    &__item {
        margin-bottom: 2rem;
        position: relative;

        @media only screen and (min-width: 1000px) {
            display: inline-block;
            padding: 2rem 4rem 2rem 4rem;
        }
    }

    &__images {

        position: relative;

        &__circle {
            position: absolute;
            left: 38%;
            z-index: -1;

            @media only screen and (min-width: 1000px) {
                position: absolute;
                left: 28%
            }
        }

        &__person,
        &__eye,
        &__catalog {
            position: absolute;
            left: 44%;
        }

        &__eye {
            position: absolute;
            top: 1rem;
        }

        &__catalog {
            position: absolute;
            top: .5rem;
        }
    }

    &__number {
        font-family: 'Raleway';
        font-weight: 800;
        font-size: 1.25rem;
        line-height: 1.5rem;
        letter-spacing: 0.375rem;
        text-align: center;
        padding-top: 4rem;
        margin-bottom: 1rem;
    }

    &__description {
        font-family: 'Raleway';
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.5rem;
        text-align: center;
        color: #A5A5A5;
    }
}