.pricing {
    display: block;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;

    &__title {
        font-family: 'Raleway';
        font-weight: 400;
        font-size: 2.25rem;
        color: black;
    }

    &__card {
        position: relative;
        display: inline-block;
        width: 90%;
        height: 15rem;
        background-color: white;
        border-radius: 1rem;
        margin: 1rem;
        margin-bottom: 3rem;
        padding: 1rem;
        text-align: start;
        vertical-align: top;

        &.basic {
            border: 1px solid #FB3B64;
            .pricing__btn {
                background-color: #FB3B64;
            }
            .pricing__card__price {
                color: #FB3B64;
            }
        }

        &.professional {
            border: 1px solid #07ACE6;
            .pricing__btn {
                background-color: #07ACE6;
            }
            .pricing__card__price {
                color: #07ACE6;
            }
        }

        &.premium {
            border: 1px solid #55DFB4;
            .pricing__btn {
                background-color: #55DFB4;
            }
            .pricing__card__price {
                color: #55DFB4;
            }
        }

        &__plan {
            font-family: 'Raleway';
            font-weight: 700;
            font-size: 1.25rem;
            line-height: 1.5rem;
            color: #13253B;
        }   
        
        &__price {
            font-size: 2.875rem;
            font-family: 'Open Sans';
            font-weight: 300;
            line-height: 4rem;
        }

        &__plan,
        &__price {
            position: relative;
            display: inline-block;
            vertical-align: middle;
            text-align: start;
            width: 50%;
        }
    }

    &__btn {
        font-family: 'Open Sans';
        font-weight: 700;
        font-size: .825rem;
        line-height: 1rem;
        color: white;
        border-radius: 2rem;
        padding: .7rem 2rem;
        border: none;
        position: absolute;
        bottom: -25px;
        left: 50%;
        transform: translateX(-50%);
        width: 50%;
        height: 3.125rem;
    }   

    &__services {
        list-style: none;
        text-align: left;
        padding: 0;
        margin-top: 1rem;
        width: 50%;
        display: inline-block;
        text-align: left;
        vertical-align: top;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%); 
    }
}