.pricing__title {
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 2.25rem;
    padding-top: 12rem;
    text-align: center;

    @media only screen and (min-width: 1000px) {
        padding-top: 5rem;
    }
}

.pricing {

    text-align: center;
    position: relative;
    padding-bottom: 6rem;
    padding: 2rem 1rem 2rem 1rem;

    &__title-div {
        text-align: center;
        align-items: center;
    }

    &__card {
        position: relative;
        border-radius: 1rem;
        margin: 1rem 1.2rem 3rem 1.2rem;
        max-width: 370px;

        &.basic {
            border: 1px solid #FB3B64;

            .pricing__btn {
                background-color: #FB3B64;
            }

            .pricing__card__plan__price {
                color: #FB3B64;
                padding-bottom: .75rem;
            }
        }

        &.professional {
            border: 1px solid #07ACE6;

            .pricing__btn {
                background-color: #07ACE6;
            }

            .pricing__card__plan__price {
                color: #07ACE6;
            }
        }

        &.premium {
            border: 1px solid #55DFB4;

            .pricing__btn {
                background-color: #55DFB4;
            }

            .pricing__card__plan__price {
                color: #55DFB4;
            }
        }

        &__plan {

            display: inline-block;
            text-align: center;
            vertical-align: middle;
            padding-top: 1rem;
            padding-bottom: 1rem;

            &__name {
                font-family: 'Raleway';
                font-weight: 700;
                font-size: 1.25rem;
                line-height: 1.5rem;
                color: #13253B;
                padding-top: 1rem;
            }

            &__price {
                font-size: 2.7rem;
                font-family: 'Open Sans';
                font-weight: 300;
                line-height: 4rem;
            }

            &__offer {
                font-family: 'Raleway';
                font-weight: 700;
                font-size: .75rem;
                line-height: .8rem;
                color: #13253B;
            }

            @media only screen and (min-width: 1000px) {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                padding-right: 0;
                padding-bottom: 2rem;
            }
        }

        @media only screen and (min-width: 1000px) {
            display: flex;
            flex-direction: column;
            width: 30%;
            max-width: 370px;
        }
    }

    &__btn {
        font-family: 'Open Sans';
        font-weight: 700;
        font-size: .825rem;
        line-height: 1rem;
        color: white;
        border-radius: 2rem;
        padding: .7rem 2rem;
        border: none;
        position: absolute;
        bottom: -25px;
        left: 50%;
        transform: translateX(-50%);
        width: 50%;
        height: 3.125rem;
        cursor: pointer;
    }

    &__services {
        list-style: none;
        position: relative;
        display: inline-block;
        vertical-align: middle;
        padding-top: 1rem;
        padding-bottom: 1.5rem;

        @media only screen and (min-width: 1000px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: start;
            padding-bottom: 3rem;
        }
    }

    &__services li {
        font-family: 'Open Sans';
        font-size: .8rem;
        line-height: 1.3rem;
        text-align: start;
        color: black;
        padding-left: 1.2rem;
        margin-bottom: 1rem;

        @media only screen and (min-width: 1000px) {
            padding-left: 0;
        }
    }

    &__services li span {
        color: #55DFB4;
        text-align: center;
        padding-right: 1rem;
        font-size: 1rem;
    }

    &__services li.unsupported span {
        color: #EB476E;
        text-align: center;
    }

    @media only screen and (min-width: 1000px) {
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
        margin: 0 6rem;

        &__card:hover {
            transform: scale(1.1);

            &.basic {
                box-shadow: 0px 4px 20px #FB3B64;
            }

            &.professional {
                box-shadow: 0px 4px 20px #07ACE6;
            }

            &.premium {
                box-shadow: 0px 4px 20px #55DFB4;
            }

        }
    }

    &__coin-selector {
        height: 2rem;
        width: 5rem;
        border-radius: 1rem;
        padding: .4rem;
        box-shadow: 0px 4px 4px lightgray;
        font-size: 1rem;
        margin-top: 2rem;
        margin-bottom: 2rem;

        @media only screen and (min-width: 1000px) {
            width: 8rem;
        }
    }
}