.scrollIndicator {
    position: fixed;
    top: 0;
    width: 0%;
    height: 0.2rem;
    background-color: #08A6E4;
    z-index: 5;

    @media only screen and (min-width: 1000px) {
        height: 0.5rem;
    }
}