.shop {

    &__title {
        text-align: center;
        font-family: 'Raleway';
        font-size: 2rem;
        font-weight: 400;
        margin-top: 5rem;
    }

    &__description {
        padding: 1rem 3.5rem 2rem 3.5rem;
        text-align: center;
        font-family: 'Open Sans';
        font-size: 1rem;
        line-height: 1.5rem;
    }

    &__btn-1 {
        display: block;
        font-family: 'Open Sans';
        color: var(--white-color);
        background-color: var(--blue-color);
        border-radius: 30px;
        border: none;
        margin: 0 auto;
        margin-bottom: 2rem;
        padding: 1rem 4rem;
        font-size: 1rem;
        font-weight: 700;
        box-shadow: 0 .4rem .4rem #07ACE64A ;
        cursor: pointer;
    }

    @media only screen and (min-width: 1000px) {
        
        &__title {
            font-size: 3.2rem;
        }

        &__btn-1 {
            padding: 1.5rem 12rem;
        }
    }
}

.background {

    text-align: center;
    &__img {
        width: 100%;
        display: inline-block;
    }

    @media only screen and (min-width: 1000px) {

        .background__img {
            content: url('../resources/Background\ Desktop.png');
            padding-bottom: 2rem;
        }
    }
}