@charset "UTF-8";
.header {
  color: var(--blue-color);
  font-family: "Raleway";
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}
.header__title {
  font-weight: 300;
  padding: 1rem;
}
.header__menu {
  display: none;
  list-style: none;
}
.header__menu__item {
  display: inline-block;
  padding: 1rem 3rem 1rem 3rem;
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: 0.2rem;
  padding: 1.6rem 5rem;
}
.header__menu__item:hover {
  color: black;
  border-bottom: 3px solid var(--blue-color);
}
.header__menu__icon, .header__menu__close-icon {
  position: absolute;
  top: 4%;
  right: 8%;
}
.header__menu.show {
  padding-top: 1rem;
  display: block;
}
.header__menu.show li {
  display: block;
  color: #A5A5A5;
  padding: 0.5rem 1rem;
  font-size: 0.6875rem;
  letter-spacing: 0.2rem;
}
.header__menu.show li:hover {
  font-weight: bold;
  border: none;
  color: black;
}
.header__menu.show #last {
  padding-bottom: 2rem;
}
.header .hidden {
  display: none;
}
@media only screen and (min-width: 1000px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header__menu {
    display: flex;
  }
  .header__menu__item {
    color: #A5A5A5;
  }
  .header__menu__icon {
    display: none;
  }
  .header__title {
    padding-left: 4rem;
  }
}

.scrollIndicator {
  position: fixed;
  top: 0;
  width: 0%;
  height: 0.2rem;
  background-color: #08A6E4;
  z-index: 5;
}
@media only screen and (min-width: 1000px) {
  .scrollIndicator {
    height: 0.5rem;
  }
}

.shop__title {
  text-align: center;
  font-family: "Raleway";
  font-size: 2rem;
  font-weight: 400;
  margin-top: 5rem;
}
.shop__description {
  padding: 1rem 3.5rem 2rem 3.5rem;
  text-align: center;
  font-family: "Open Sans";
  font-size: 1rem;
  line-height: 1.5rem;
}
.shop__btn-1 {
  display: block;
  font-family: "Open Sans";
  color: var(--white-color);
  background-color: var(--blue-color);
  border-radius: 40px;
  border: none;
  margin: 0 auto;
  margin-bottom: 2rem;
  padding: 1rem 4rem;
  font-size: 1rem;
  font-weight: 700;
  box-shadow: 0 0.4rem 0.4rem rgba(7, 172, 230, 0.2901960784);
  cursor: pointer;
}
@media only screen and (min-width: 1000px) {
  .shop__title {
    font-size: 3.2rem;
  }
  .shop__btn-1 {
    padding: 1.5rem 12rem;
  }
}

.background {
  text-align: center;
}
.background__img {
  width: 100%;
  display: inline-block;
}
@media only screen and (min-width: 1000px) {
  .background .background__img {
    content: url("../resources/Background Desktop.png");
    padding-bottom: 2rem;
  }
}

.info {
  text-align: center;
  position: relative;
  padding-bottom: 4rem;
}
.info__title {
  font-family: "Raleway";
  font-weight: 300;
  font-size: 2.2rem;
  line-height: 2rem;
  margin-bottom: 2rem;
}
.info__item {
  margin-bottom: 2rem;
  position: relative;
}
@media only screen and (min-width: 1000px) {
  .info__item {
    display: inline-block;
    vertical-align: top;
    padding: 2rem 6rem 2rem 6rem;
  }
}
.info__images {
  position: relative;
}
.info__images__circle {
  position: absolute;
  left: 38%;
  z-index: -1;
}
@media only screen and (min-width: 1000px) {
  .info__images__circle {
    position: absolute;
    left: 28%;
  }
}
.info__images__person, .info__images__eye, .info__images__catalog {
  position: absolute;
  left: 44%;
}
.info__images__person {
  position: absolute;
  left: 46%;
}
@media only screen and (min-width: 1000px) {
  .info__images__person {
    left: 50%;
  }
}
.info__images__eye {
  position: absolute;
  top: 14px;
}
@media only screen and (min-width: 1000px) {
  .info__images__eye {
    position: absolute;
  }
}
.info__images__catalog {
  position: absolute;
  top: 0.5rem;
}
@media only screen and (min-width: 1000px) {
  .info__images__catalog {
    position: absolute;
    left: 60px;
  }
}
.info__number {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 1.25rem;
  line-height: 1.5rem;
  letter-spacing: 0.375rem;
  text-align: center;
  padding-top: 4rem;
  margin-bottom: 1rem;
}
.info__description {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
  color: #A5A5A5;
}
@media only screen and (min-width: 1000px) {
  .info__description {
    text-wrap: wrap;
  }
}

.features {
  background-color: #F7F7F7;
  text-align: center;
  padding: 1rem 0.8rem;
}
@media only screen and (min-width: 1000px) {
  .features {
    padding: 1rem 3rem;
  }
}
.features__card {
  background-color: #FFFFFF;
  border: 1px solid #E8E9ED;
  border-radius: 0.3rem;
  text-align: start;
  margin: 1rem 1rem;
  margin-bottom: 2rem;
  padding: 1rem;
  max-height: 370px;
  padding-top: 1.5rem;
}
@media only screen and (min-width: 1000px) {
  .features__card {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 2rem auto;
    width: 90%;
    max-width: 1100px;
  }
}
.features__card__images {
  max-width: 258px;
  min-width: 258px;
  margin: 0 auto;
  position: relative;
}
@media only screen and (min-width: 1000px) {
  .features__card__images {
    max-width: 50%;
    padding: 2rem;
  }
}
.features__card__images__macbook {
  margin: 0 auto;
  z-index: 1;
  position: absolute;
  left: 50%;
  max-width: 100%;
  transform: translateX(-50%);
}
@media only screen and (min-width: 1000px) {
  .features__card__images__macbook {
    content: url(../resources/Macbook\ Desktop.png);
    position: absolute;
    left: 6%;
    transform: scale(0.8);
  }
}
.features__card__images__red-circle {
  margin: 0 auto 1rem;
  z-index: 0;
  margin-left: 130px;
  margin-top: -30px;
}
@media only screen and (min-width: 1000px) {
  .features__card__images__red-circle {
    content: url(../resources/Red\ Rectangle\ Desktop.png);
  }
}
.features__card__images__iphone {
  margin: 0 auto;
  z-index: 1;
  position: absolute;
  left: 50%;
  max-width: 100%;
  transform: translateX(-50%);
}
@media only screen and (min-width: 1000px) {
  .features__card__images__iphone {
    content: url(../resources/iPhone2\ 1.png);
    transform: scale(0.9);
    position: absolute;
    left: 15%;
  }
}
.features__card__images__blue-circle {
  margin: 0 auto 1rem 3rem;
}
@media only screen and (min-width: 1000px) {
  .features__card__images__blue-circle {
    content: url(../resources/Big\ Blue\ Circle.png);
    transform: scale(0.9);
  }
}
.features__card__images-exc {
  position: relative;
}
@media only screen and (min-width: 1000px) {
  .features__card__images-exc {
    display: none;
  }
}
@media only screen and (min-width: 1000px) {
  .features__card__images-exc__green-rectangle {
    content: url(../resources/Green\ Rectangle\ Desktop.png);
  }
}
.features__card__images-exc__trumpet {
  position: absolute;
  z-index: 1;
  top: 70%;
  left: 44%;
  transform: translate(-50%, -50%);
}
@media only screen and (min-width: 1000px) {
  .features__card__images-exc__trumpet {
    content: url(../resources/Trumpet\ 1.png);
    transform: scale(0.9);
  }
}
@media only screen and (min-width: 1000px) {
  .features__card__images-exc {
    margin-left: 1rem;
  }
}
.features__card__images-exc-desktop {
  position: relative;
}
@media only screen and (min-width: 1000px) {
  .features__card__images-exc-desktop {
    width: 60%;
    background-color: #55DFB4;
    height: 20rem;
    border-radius: 4px;
    border: 1px solid #E8E9ED;
  }
}
.features__card__images-exc-desktop__trumpet {
  display: none;
  position: relative;
  width: 85%;
  height: auto;
  transform: translate(0%, 12%);
}
@media only screen and (min-width: 800px) {
  .features__card__images-exc-desktop__trumpet {
    display: block;
    transform: translate(16%, 5em);
    width: 70%;
  }
}
@media only screen and (min-width: 1000px) {
  .features__card__text {
    flex: 1;
    max-width: 50%;
    padding-left: 2rem;
  }
}
.features__card__text__title {
  color: black;
  font-family: "Raleway";
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
}
@media only screen and (min-width: 1000px) {
  .features__card__text__title {
    font-size: 2.25rem;
    line-height: 2.8rem;
  }
}
.features__card__text__description {
  color: black;
  font-family: "Open Sans";
  font-size: 0.875rem;
  line-height: 1.1875rem;
  font-weight: 400;
  margin-bottom: 1rem;
}
@media only screen and (min-width: 1000px) {
  .features__card__text__description {
    font-size: 1rem;
    line-height: 1.3rem;
    padding-bottom: 2rem;
  }
}
.features__card__text__border-bottom {
  display: none;
}
@media only screen and (min-width: 1000px) {
  .features__card__text__border-bottom {
    display: block;
    width: 80%;
    margin-bottom: 2rem;
  }
  .features__card__text__border-bottom--red {
    border: 3px solid #FB3B64;
  }
  .features__card__text__border-bottom--blue {
    border: 3px solid #08A6E4;
  }
  .features__card__text__border-bottom--green {
    border: 3px solid #55DFB4;
  }
}
@media only screen and (min-width: 1000px) {
  .features__desktop-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    max-width: 1100px;
    margin: 2rem auto;
    width: 90%;
  }
}
@media only screen and (min-width: 1000px) {
  .features #red-card,
  .features #blue-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.features #green-card {
  padding: 0;
}
@media only screen and (min-width: 1000px) {
  .features #green-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }
}
.features #green-feature {
  max-width: 90%;
  padding: 1rem;
}
@media only screen and (min-width: 1000px) {
  .features #green-feature {
    padding-left: 3rem;
    max-width: 75%;
  }
}

@media only screen and (min-width: 1000px) {
  .excp-row {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

br {
  display: none;
}
@media only screen and (min-width: 1000px) {
  br {
    display: block;
  }
}

.pricing__title {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 2.25rem;
  padding-top: 12rem;
  text-align: center;
}
@media only screen and (min-width: 1000px) {
  .pricing__title {
    padding-top: 5rem;
  }
}

.pricing {
  text-align: center;
  position: relative;
  padding-bottom: 6rem;
  padding: 2rem 1rem 2rem 1rem;
}
.pricing__card {
  position: relative;
  border-radius: 1rem;
  margin: 1rem 1.2rem 3rem 1.2rem;
  max-width: 370px;
}
.pricing__card.basic {
  border: 1px solid #FB3B64;
}
.pricing__card.basic .pricing__btn {
  background-color: #FB3B64;
}
.pricing__card.basic .pricing__card__plan__price {
  color: #FB3B64;
  padding-bottom: 0.75rem;
}
.pricing__card.professional {
  border: 1px solid #07ACE6;
}
.pricing__card.professional .pricing__btn {
  background-color: #07ACE6;
}
.pricing__card.professional .pricing__card__plan__price {
  color: #07ACE6;
}
.pricing__card.premium {
  border: 1px solid #55DFB4;
}
.pricing__card.premium .pricing__btn {
  background-color: #55DFB4;
}
.pricing__card.premium .pricing__card__plan__price {
  color: #55DFB4;
}
.pricing__card__plan {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.pricing__card__plan__name {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: #13253B;
  padding-top: 1rem;
}
.pricing__card__plan__price {
  font-size: 2.875rem;
  font-family: "Open Sans";
  font-weight: 300;
  line-height: 4rem;
}
.pricing__card__plan__offer {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 0.8rem;
  color: #13253B;
}
@media only screen and (min-width: 1000px) {
  .pricing__card__plan {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-right: 0;
    padding-bottom: 2rem;
  }
}
@media only screen and (min-width: 1000px) {
  .pricing__card {
    display: flex;
    flex-direction: column;
    width: 30%;
    max-width: 370px;
  }
}
.pricing__btn {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 0.825rem;
  line-height: 1rem;
  color: white;
  border-radius: 2rem;
  padding: 0.7rem 2rem;
  border: none;
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  height: 3.125rem;
  cursor: pointer;
}
.pricing__services {
  list-style: none;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
}
@media only screen and (min-width: 1000px) {
  .pricing__services {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: start;
    padding-bottom: 3rem;
  }
}
.pricing__services li {
  font-family: "Open Sans";
  font-size: 0.8rem;
  line-height: 1.3rem;
  text-align: start;
  color: black;
  padding-left: 1.2rem;
  margin-bottom: 1rem;
}
@media only screen and (min-width: 1000px) {
  .pricing__services li {
    padding-left: 0;
  }
}
.pricing__services li span {
  color: #55DFB4;
  text-align: center;
  padding-right: 1rem;
  font-size: 1rem;
}
.pricing__services li.unsupported span {
  color: #EB476E;
  text-align: center;
}
@media only screen and (min-width: 1000px) {
  .pricing {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    margin: 0 6rem;
  }
  .pricing__card:hover {
    transform: scale(1.1);
  }
  .pricing__card:hover.basic {
    box-shadow: 0px 4px 20px #FB3B64;
  }
  .pricing__card:hover.professional {
    box-shadow: 0px 4px 20px #07ACE6;
  }
  .pricing__card:hover.premium {
    box-shadow: 0px 4px 20px #55DFB4;
  }
}

.form {
  margin-top: 3rem;
  text-align: start;
  padding-left: 1rem;
  width: 100%;
  position: relative;
}
.form__title {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 3rem;
}
@media only screen and (min-width: 1000px) {
  .form__title {
    grid-column: 1;
    grid-row: 1;
  }
}
.form__description {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.375rem;
  margin-bottom: 2rem;
}
@media only screen and (min-width: 1000px) {
  .form__description {
    grid-column: 1;
    grid-row: 2;
  }
}
.form__example_div {
  position: relative;
  margin-top: 1rem;
}
.form__name-input {
  padding-bottom: 1rem;
}
@media only screen and (min-width: 1000px) {
  .form__name-input {
    grid-column: 2;
    grid-row: 1;
  }
}
@media only screen and (min-width: 1000px) {
  .form__email-input {
    grid-column: 2;
    grid-row: 3;
  }
}
.form__placeholder {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 11px;
  line-height: 1rem;
  letter-spacing: 3px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #08A6E4;
}
@media only screen and (min-width: 1000px) {
  .form__placeholder {
    margin: 0;
    padding: 0;
  }
}
.form__data-protection {
  position: relative;
  margin-bottom: 1rem;
  margin-top: 2rem;
}
@media only screen and (min-width: 1000px) {
  .form__data-protection {
    grid-column: 2;
    grid-row: 3;
    padding-top: 2rem;
  }
}
.form__container-btn {
  text-align: end;
  margin-right: 2rem;
  position: relative;
}
@media only screen and (min-width: 1000px) {
  .form__container-btn {
    grid-column: 2;
    grid-row: 5;
  }
}
.form__btn {
  position: relative;
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 0.825rem;
  line-height: 1rem;
  background-color: #08A6E4;
  color: white;
  border-radius: 2rem;
  margin-top: 1rem;
  padding: 0.7rem 2rem;
  border: none;
  height: 3.125rem;
  width: 60%;
  box-shadow: 0 0.4rem 0.4rem rgba(7, 172, 230, 0.2901960784);
  cursor: pointer;
}
@media only screen and (min-width: 1000px) {
  .form__btn {
    grid-column: 2;
    grid-row: 5;
  }
}
@media only screen and (min-width: 1000px) {
  .form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 3.5em 2em 1fr;
    grid-template-columns: 25em 35em;
    padding-left: 2em;
    justify-content: center;
  }
}
.form .invalid {
  border-color: red;
}

.form__icon {
  display: inline-block;
  vertical-align: middle;
}

.form__example {
  display: inline-block;
  vertical-align: middle;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.375rem;
  color: #A5A5A5;
}

input[type=text] {
  border: none;
  border-bottom: 1px solid black;
  width: 95%;
  height: 2rem;
}

input[type=checkbox] {
  border: 1px solid #95989A;
  position: absolute;
  top: 2%;
  appearance: none;
  width: 20px;
  border-radius: 5px;
  height: 20px;
  text-align: center;
  cursor: pointer;
}
input[type=checkbox]:checked {
  border-color: #95989A;
}
input[type=checkbox]:checked::after {
  content: "✓";
  color: #08A6E4;
}
@media only screen and (min-width: 1000px) {
  input[type=checkbox] {
    top: 2.25rem;
  }
}

#phone {
  margin-bottom: 3rem;
}
@media only screen and (min-width: 1000px) {
  #phone {
    padding-left: 12rem;
  }
}

@media only screen and (min-width: 1000px) {
  #email,
  #phone {
    grid-column: 1;
    grid-row: 3;
  }
}

label {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1rem;
  color: #707070;
  display: inline-block;
  margin: 0 1.5rem 0 2rem;
}

.returnToTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 15px;
  font-size: 14px;
  background-color: #08A6E4;
  color: white;
  border: none;
  border-radius: 1rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
  display: none;
  z-index: 50;
}

.returnToTop.show {
  display: block;
}

.footer {
  padding: 1rem 1rem;
  position: relative;
  margin-top: 2rem;
  color: var(--blue-color);
  font-family: "Raleway";
  box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.3);
}
.footer__title {
  margin-left: 2rem;
  font-family: "Raleway";
  font-size: 1.5em;
  font-weight: 300;
  color: #2596be;
}
.footer__description {
  margin-left: 2rem;
  font-family: "Open Sans";
  font-size: 0.65em;
  font-weight: 400;
  color: #A5A5A5;
}
.footer__icons {
  position: absolute;
  top: 35%;
  left: 75%;
}

#twitter-icon {
  margin-right: 1rem;
}

:root {
  --black-color: #000000;
  --white-color: #FFFF;
  --gray-color: #A5A5A5;
  --blue-color: #08A6E4;
  --pink-color: #EB476E;
  --blue-color-btn: #07ACE6;
  --blue-color-btn2: #55DFB4;
  --pink-color-card: #FB3B64;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
}

/*# sourceMappingURL=main.css.map */
